<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <body>
    <!-- <div style="display:none">
      <img id="poker_table" width="220" height="277" src="../static/image/poker table3.png">
      <img id="yellow_back" width="975" height="1388" src="../static/image/yellow_back.png">
      <p id="starting_balance">{{starting_balance}}</p>
      <p id="min_bet">{{min_bet}}</p>
    </div>
    <canvas id="canvas1" width="1000" height="500" style="width: 100%; border:1px solid #000000;"></canvas> -->

    <script src = "../static/js/game.js"></script>


    <button id="state_restart">Reroll</button>
    <br><br><br>

    <div id ="bot_cards" class="h-[10%] flex flex-wrap flex-row">

    </div>

    <div id ="player_cards" class="h-[10%] gap-1 flex flex-wrap">

    </div>
    <div id = "player_redraws" class = 'flex w-full gap-3'>
      <button id="redraw1" value=1 class="text-green-500">Select Card 1</button><br>
      <button id="redraw2" value=2 class="text-green-500">Select Card 2</button><br>
      <button id="redraw3" value=3 class="text-green-500">Select Card 3</button><br>
      <button id="redraw4" value=4 class="text-green-500">Select Card 4</button><br>
      <button id="redraw5" value=5 class="text-green-500">Select Card 5</button><br>
    </div>

    <button id="redraw_all_cards">Redraw Selected</button><br>
    <button id="cont">Continue</button>

    <div>
      <!-- <p id="money" value={{currency}}></p> -->
      <button id="money" value="1000">1000</button>
    </div>

    <div>
      <button id="call" class = "text-gray-500" value="call">Call</button><br>
      <!-- <button id="fold">Fold</button> -->
      <button id="raise" class = "text-gray-500" value="raise">Raise</button>
      <input id="raiseamt" type = "range" min={{min_bet}} max=1000 class = "slider">
      <p>Value: <span id = "raise_num"></span></p>
    </div>


    <script>
      var raise_slider = document.getElementById("raiseamt");
      var output = document.getElementById("raise_num");
      raise_slider.oninput = function(){
      //  console.log(this.value);
        output.innerHTML = this.value;
      }

      let deck = [];
      let player_hand = [];
      let bot_hand = [];
      let redraws = [];

      let min_bet = 50;
      var money = document.getElementById("money").value;
      var amt_bet = min_bet;

      var call = document.getElementById("call");
      var raise = document.getElementById("raise");
      call.addEventListener("click",modify_bet);
      raise.addEventListener("click",modify_bet);

      var restart = document.getElementById("state_restart");
      restart.addEventListener("click",game_restart);


      var redraw1 = document.getElementById("redraw1");
      redraw1.addEventListener("click",player_redraw);
      var redraw2 = document.getElementById("redraw2");
      redraw2.addEventListener("click",player_redraw);
      var redraw3 = document.getElementById("redraw3");
      redraw3.addEventListener("click",player_redraw);
      var redraw4 = document.getElementById("redraw4");
      redraw4.addEventListener("click",player_redraw);
      var redraw5 = document.getElementById("redraw5");
      redraw5.addEventListener("click",player_redraw);

      var redrawall = document.getElementById("redraw_all_cards");
      redrawall.addEventListener("click", redraw_all);

      var cont_game = document.getElementById("cont");
      cont_game.addEventListener("click",continue_game);

      function modify_bet(event)
      {
        let bet_state = event.target.value;
        if(bet_state == "call")
        {
          amt_bet = 50;
          document.getElementById("call").className = "text-green-500";
          document.getElementById("raise").className = "text-red-500";
        }
        if(bet_state == "raise")
        {
          document.getElementById("call").className = "text-red-500";
          document.getElementById("raise").className = "text-green-500";
          amt_bet = Number(document.getElementById("raiseamt").value);
        }
      }

      function continue_game()
      {

        //print_2d(bot_hand);

        //print_2d(player_hand);


        let bot_in_state = [];
        let bot_state = [];

        let bot_state_info = get_hand_state(bot_hand, bot_in_state);
        bot_state = bot_state_info[0];
        bot_in_state = bot_state_info[1];

        bot_redraw(bot_hand, bot_in_state, deck);
        //print_2d(bot_hand);

        bot_state_info = get_hand_state(bot_hand, bot_in_state);
        bot_state = bot_state_info[0];
        bot_in_state = bot_state_info[1];


        let player_in_state = [];
        let player_state = [];
        let player_state_info = get_hand_state(player_hand, player_in_state);

        player_state = player_state_info[0];
        player_in_state = player_state_info[1];

        let compare_val = compare_hands(player_hand, bot_hand, player_state, bot_state);

        let player_cards = hand_to_imgs(player_hand, "player");
        let bot_cards = hand_to_imgs(bot_hand, "player");
        document.getElementById("player_cards").innerHTML = player_cards;
        document.getElementById("bot_cards").innerHTML = bot_cards;

        if(compare_val > 0){
          alert("Player Won!");
          console.log(document.getElementById("money").value);
          document.getElementById("money").value = Number(document.getElementById("money").value) - amt_bet;
          document.getElementById("money").innerHTML = Number(document.getElementById("money").innerHTML) + amt_bet;
        }
        if(compare_val < 0){
          alert("Bot Won!");
          console.log(document.getElementById("money").value);
          document.getElementById("money").value = Number(document.getElementById("money").value) - amt_bet;
          document.getElementById("money").innerHTML = Number(document.getElementById("money").innerHTML) - amt_bet;
      }
        if(compare_val == 0){alert("Nobody Won!");}

        for(let i = 0; i < 5; i++)
        {
          document.getElementById("redraw" + (i + 1)).className = "text-green-500";
        }

        if(Number(document.getElementById("money").value) >= 1000)
        {
          document.getElementById("raiseamt").max = Number(document.getElementById("money").value );
        }

        redraws = [];
      }

      function redraw_all()
      {
        redraws = redraws.sort();
        for(let i = redraws.length - 1; i > -1;i--)
        {
          redraw(player_hand,deck,redraws[i]);
        }

        player_cards = hand_to_imgs(player_hand, "player");
        document.getElementById("player_cards").innerHTML = player_cards;

        for(let i = 0; i < 5; i++)
        {
          document.getElementById("redraw" + (i + 1)).className = "text-red-500";
        }

        redraws = [];
      }

      function player_redraw(event)
      {
        let button_class = document.getElementById("redraw" + event.target.value).className;
        if(button_class == "text-green-500")
        {
          redraws.push(event.target.value - 1);
          document.getElementById("redraw" + event.target.value).className = "text-red-500";
        }

      }

      function show_hand()
      {
        print_2d(player_hand);
      }

      function game_restart()
      {
        deck = make_deck();
        player_hand = draw_hand(deck);
        print_2d(player_hand);
        bot_hand = draw_hand(deck);

        let player_cards = hand_to_imgs(player_hand, "player");
        let bot_cards = hand_to_imgs(bot_hand, "bot");


        document.getElementById("player_cards").innerHTML = player_cards;
        document.getElementById("bot_cards").innerHTML = bot_cards;
      }



    </script>





    <!-- <svg id="svg" width="100%" height="100%" viewBox="0 0 1000 400" style="border:1px solid #000000;">
      <use href="/static/image/poker table3.png"></use>
    </svg> -->

  </body>
</html>
